@mixin transition($property, $duration) {
  transition-property: $property;
  transition-duration: $duration;
}


@mixin underline-transition($width){
     &::after {
      content: ''; // Creates a fake element after <a>
      display: block; // Makes it act like a visible block
      bottom: 0; // Align it to bottom (needs position to work correctly)
      left: 0; // Align it to left side
      height: 0.2em; // Thin line height
      background-color:$accent-color; // Line color
      transform: scaleX(0); // Starts invisible
      @include transition(transform, 0.2s )
    }

    &:hover::after {
      transform: scaleX($width); // When hovering, stretch the line slightly
    }
}
